branches:
  - main
  - name: 'features/add-cd'
    prerelease: true
debug: true
ci: true
dryRun: true
plugins:
  - '@semantic-release/commit-analyzer'
  - '@semantic-release/release-notes-generator'
  - '@semantic-release/github'
